.carousel-container {
  background-image: url("./assets/bg.gif");
  background-size: contain;
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 56px;

}

@media screen and (min-width: 900px) {
  .carousel-container {
    margin-top: 68px;
  
  }
}

.carousel {
  width: 100%;
  height: 100%;

}

.carousel-bg{
  background-color: rgb(0, 0, 0);
  height: 500px;
  width: 100%;
  opacity: 0.6;
  z-index: 1;
  position: absolute;

}

.carousel-content{
  position: absolute;
  height: 500px;
  width: 100%;
  z-index: 5;
}

.react-swipeable-view-container {
  height: 100%;
}

.carouselDisplayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
  position: relative;
  overflow: hidden;

}


@media screen and (max-width: 768px) {
  .carousel-Effect{
    display: none;

  }
}


.stepper-container{
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%,0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutIconContainer{
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 5px;
  border: 2px solid white;
  outline: 5px solid rgb(34, 34, 34);
  align-self: center;
  margin-left: 20px;
  margin-right: 20px;
  transition: border-radius 0.5s linear 0.5s , transform 0.5s;
}

.socialIconContainer{
  color: white;
  background-color: rgb(34, 34, 34);
  padding: 6px;
  padding-bottom: 0;
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;
  transition: transform 0.5s;
}

.socialIconContainer:hover{
  transform: rotate(-10deg);
}

.aboutIconContainer:hover{
  border-radius: 100px;
  transform: scale(1.1);
  border-style: dashed;
}

.aboutContainer:hover .aboutIconContainer{
  border-radius: 100px;
  transform: scale(1.1);
}

.image-tab .MuiTabs-indicator{
  display: none;
}

.map-bg{
  position: relative;
  background-image: url("./assets/map-bg.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
}

.contact-container{
    position: absolute;
    background-color: rgba(5, 8, 11, 0.93);
    width: 100%;
    height: 800px;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media screen and (max-width: 747px) {
.map-bg{
  height: 950px
}
.contact-container{
  height: 950px

}
}


.subscribe-input{
  padding: 5px 10px;
}

.subscribe-button{
  background: none repeat scroll 0 0 #676D75;
  border: none;
  border-radius: 2px;
  padding: 8px 15px;
  color: white;
  margin-left: 5px;
}